* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 236, 236);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 40px auto;
    padding: 20px;
    width: 90vw;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #44424170;
}

h1 {
    align-self: center;
}

.round {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex: 1;
}

div#player {

    display: flex;

}

#opbox {
    height: 170px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-end;

}

.option {
    margin: 0 10px;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 3px solid #c75205;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #58535070;
}

.round>#computer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    height: fit-content;
    background-color: #f8d9b0;
    width: fit-content;
    padding: 10px;
    align-items: center;

}

.alterImg {
    width: 100px;
    height: 100px;
    border: 3px solid #000000;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #58535070;
    background-repeat: no-repeat;
    background-size: contain;

    animation: swapimg 0.5s infinite forwards;

}

@keyframes swapimg {
    30% {
        background-image: url('./assets/rock.png')
    }

    65% {
        background-image: url('./assets/paper.png')
    }

    100% {
        background-image: url('./assets/scissors.png')
    }

}

#score {
    width: 50vw;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;


}

.player,
.computer {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;

    align-items: center;
    justify-content: space-evenly;


}

p {
    margin: 0px;
}

#playerScore,
#computerScore {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(61, 61, 61);
    align-items: center;

}

.tag {
    font-size: 17px;
    font-weight: normal;
}

#end {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 100;
}

#replay {
    border-radius: 10px;
    border: 2px solid rgb(61, 61, 61);
    background-color: #000000bf;
}

#replay>img {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .round {
        padding-top: 0px;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    .option {
        width: 80px;
        height: 80px;
    }

    #opbox {
        height: fit-content;
    }

    #computer {
        align-self: center;
    }

    .container {
        width: 90vw;
        height: 90vh;
    }
}